<div
  ngFileDrop
  (uploadOutput)='handleUpload($event)'
  [options]='options'
  class='w-full h-32 flex flex-col justify-center items-center border border-dashed border-indigo-600 p-3'
>
  <p>Drag & Drop file here or</p>
  <label class="cursor-pointer text-slate-800 font-medium mx-5">
    <input
      accept='image/x-png,image/gif,image/jpeg'
      [options]='options'
      class='hidden'
      type='file'
      ngFileSelect [multiple]='true'
      (uploadOutput)='handleUpload($event)'
    > Browse
  </label>
  <p>Total {{files.length}} files</p>
</div>
